spring:
  application.name: ecommerce
  data.rest.base-path: /api
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    password: ecommerceapp
    url: jdbc:mysql://localhost:3306/full-stack-ecommerce?useSSL=false&useUnicode=yes&characterEncoding=UTF-8&allowPublicKeyRetrieval=true&serverTimezone=UTC
    username: ecommerceapp
  jpa.properties.hibernate.dialect: org.hibernate.dialect.MySQL8Dialect
webapp.url: http://localhost:4200
---
spring:
  datasource:
    driver-class-name: org.postgresql.Driver
    password: ecommerceapp
    url: jdbc:mysql://localhost:3306/full-stack-ecommerce?useSSL=false&useUnicode=yes&characterEncoding=UTF-8&allowPublicKeyRetrieval=true&serverTimezone=UTC
    username: ecommerceapp
  jpa.properties.hibernate:
    dialect: org.hibernate.dialect.PostgreSQLDialect
    jdbc.lob.non_contextual_creation: true
  config.activate.on-profile: prod
webapp.url: https://emiller-ecommerce.herokuapp.com/
---
